{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="text-center mt-5 mb-5">Gestion des quizz</h1>
    <table class="table text-light">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Déjà fait</th>
            <th scope="col">Refaire ?</th>
            <th scope="col">Ne l'ont pas fait</th>
            <th scope="col">Actions</th>
            <th scope="col">Suppression</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ category.id }}</th>
            <th><a class="text-light" href="{{ path('quizz_stats', {"id": category.id}) }}">{{ category.name }}</a></th>
            <th>{{ category.count }}</th>
            <th><a href="{{ path("send_quizz_email", {'what' : "quizzDone", "id" : category.id}) }}"
                   class="btn btn-success">envoyer</a></th>
            <th><a href="{{ path("send_quizz_email", {'what' : "noQuizzDone", "id":category.id}) }}"
                   class="btn btn-success">Proposer le quizz</a></th>
            <th><a class="text-success" href="#">Modifier</a></th>
            <th><a href="#" class="btn btn-danger">Supprimer</a></th>
        </tr>
        </tbody>
    </table>



    <div class="mt-5 mb-5"></div>
    <div class="row text-center justify-content-center">
        <div class="col-3">derniere fois utilisé</div>
        <div class="col-3">{{ lastTime|date("d/m/Y") }}</div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-6"> nombre d'utilisateurs uniques</div>
        <div class="col-6">{{ howManuUsers }}</div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-6">nombre d'utilisations</div>
        <div class="col-6">{{ totalUses }}</div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-6">note moyenne</div>
        <div class="col-6">{{ notes.average }}</div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-6">meilleure note</div>
        <div class="col-6">{{ notes.max }}</div>
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-6">pire note</div>
        <div class="col-6">{{ notes.min }}</div>
    </div>
    <hr>
    </div>

    </div>
{% endblock %}